.g-box{
    background-color: #fff;
}
.slider-decorator-0{
    position: absolute ;
    bottom: 10px !important;
}
.guide{
    height: 1.6rem;
    width: 100%;
}
.guide img{
    height: 1.6rem;
    width: 100%;
}