.ccc-listBox{
    padding-bottom: 0.4rem;
    height: 100%;
    background-color: rgb(247, 247, 247);
    margin-bottom: 1.2rem;
}
.am-card-header-content {
    flex: 1 1;
    text-align: left;
    color: rgb(65, 63, 63);
    display: flex;
    font-size: 14px;
    align-items: center;
}

.am-card-body {
    display: flex;

}

.am-card-body img {
    width: 1.2rem !important;
    float: left;
}

.b-count {
    float: left;
    padding: 0 0.2rem;
    color: rgb(129, 129, 129);
}

.b-count p {
    padding-bottom: 0.2rem;
    color: rgb(77, 77, 77);
}

.b-total {
    float: left;
    font-size: 12px;
    line-height: 0.3rem;
    color: rgb(122, 121, 121);
    padding-left: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;


}

.buyit {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    font-size: 14px;
}

.payit {
    float: right;
    border: 0;
    background-color: rgb(57, 109, 73);
    color: #fff;
    border-radius: 0;
    font-size: 16px;

}

.am-result {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0.55rem;
    background-color: #fff;

}

.am-result .am-result-pic {
    width: 53px;
    height: 38px;
    margin: 0 auto;
    line-height: 60px;
    background-size: 60px 60px;
}

.am-icon-md {
    width: 37px;
    height: 45px;
}

.b-bottom {
    margin-bottom: 1.4rem;
}

.checkYhq {
    background-color: rgb(39, 114, 73);
    color: #fff;
}

.b-yhqxz {
    height: 0.4rem !important;
}
.goBackMine{
    width: 100%;
    position: fixed !important;
    bottom: 0;
    left: 0;
    background-color: rgb(39, 114, 73);
    color: #fff;
}